<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ib-httpfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fec059cf-90c9-420e-affb-92c5264dc5ab/resourcegroups/HttpFunction20190911075041ResourceGroup/providers/Microsoft.Web/sites/ib-HttpFunction</ResourceId>
    <UserName>$ib-HttpFunction</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://ib-httpfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>